<% @requests.each do |friend| %>
    <li>
        <%= link_to friend.email, user_path(friend) %>
        <%= form_for current_user.pending_request(friend) do |f| %>
            <%= hidden_field_tag :user, friend.id %>
            <%= f.submit "Accept", class: "btn btn-xs btn-default" %>
        <% end %>
    </li>
<% end %>