<div class="post">
    <h3>Author: <%= post.author.name %></h3><br>
    <%= post.content %>

    <%= render post.comments %>
</div>

<div class="comment-form">
    <%= render partial: 'comments/form', locals: { post: post } %>
</div>
<hr>
